Repository danieleschmidt/modelcard-as-code-generator, changes with the owners that CODEOWNERS names for each.
All owners: @terragonlabs/core-team, @terragonlabs/backend-team, @terragonlabs/qa-team, @terragonlabs/docs-team, @terragonlabs/devops-team, @terragonlabs/security-team, @terragonlabs/product-team, @terragonlabs/legal-team, @terragonlabs/sre-team, @danieleschmidt, @terragonlabs/integrations-team, @terragonlabs/senior-engineers

CODEOWNERS:

# CODEOWNERS file for Model Card Generator
# This file defines who is responsible for code review and ownership

# Global owners (fallback for any file not specifically covered)
* @terragonlabs/core-team

# Core application code
/src/ @terragonlabs/core-team @terragonlabs/backend-team

# Testing infrastructure
/tests/ @terragonlabs/core-team @terragonlabs/qa-team

# Documentation
/docs/ @terragonlabs/core-team @terragonlabs/docs-team
README.md @terragonlabs/core-team @terragonlabs/docs-team
CHANGELOG.md @terragonlabs/core-team
CONTRIBUTING.md @terragonlabs/core-team @terragonlabs/docs-team

# CI/CD and infrastructure
/.github/ @terragonlabs/devops-team @terragonlabs/core-team
/scripts/ @terragonlabs/devops-team @terragonlabs/core-team
/monitoring/ @terragonlabs/devops-team
Dockerfile @terragonlabs/devops-team
docker-compose.yml @terragonlabs/devops-team
.dockerignore @terragonlabs/devops-team

# Build and package configuration
pyproject.toml @terragonlabs/core-team
Makefile @terragonlabs/devops-team @terragonlabs/core-team
requirements*.txt @terragonlabs/core-team

# Security and compliance
SECURITY.md @terragonlabs/security-team @terragonlabs/core-team
.bandit @terragonlabs/security-team
.safety @terragonlabs/security-team

# Templates and schemas
/templates/ @terragonlabs/core-team @terragonlabs/product-team
/src/modelcard_generator/templates/ @terragonlabs/core-team @terragonlabs/product-team
/src/modelcard_generator/schemas/ @terragonlabs/core-team @terragonlabs/product-team

# Development environment
.devcontainer/ @terragonlabs/devops-team
.vscode/ @terragonlabs/core-team
.editorconfig @terragonlabs/core-team
.gitignore @terragonlabs/core-team

# Code quality and linting
.pre-commit-config.yaml @terragonlabs/core-team
.flake8 @terragonlabs/core-team
.mypy.ini @terragonlabs/core-team
ruff.toml @terragonlabs/core-team

# Legal and licensing
LICENSE @terragonlabs/legal-team @terragonlabs/core-team
LICENSE_HEADER.txt @terragonlabs/legal-team @terragonlabs/core-team
CODE_OF_CONDUCT.md @terragonlabs/core-team

# Project configuration
PROJECT_CHARTER.md @terragonlabs/product-team @terragonlabs/core-team
.github/project-metrics.json @terragonlabs/devops-team @terragonlabs/core-team

# Deployment and configuration
/kubernetes/ @terragonlabs/devops-team @terragonlabs/sre-team
/terraform/ @terragonlabs/devops-team @terragonlabs/sre-team

# Individual team leads for specific areas
/src/modelcard_generator/cli/ @danieleschmidt
/src/modelcard_generator/integrations/ @terragonlabs/integrations-team
/src/modelcard_generator/security/ @terragonlabs/security-team
/src/modelcard_generator/monitoring/ @terragonlabs/devops-team

# Specific file overrides for critical components
/src/modelcard_generator/core.py @danieleschmidt @terragonlabs/senior-engineers
/src/modelcard_generator/generator.py @danieleschmidt @terragonlabs/senior-engineers
/src/modelcard_generator/validators/ @terragonlabs/qa-team @terragonlabs/security-team

feat(modelcard_generator): add comprehensive model card generator with CLI and integrations
  src/modelcard_generator/__init__.py
  src/modelcard_generator/cli/__init__.py
  src/modelcard_generator/cli/main.py
  src/modelcard_generator/core/__init__.py
  src/modelcard_generator/core/drift_detector.py
  src/modelcard_generator/core/generator.py
  src/modelcard_generator/core/models.py
  src/modelcard_generator/core/validator.py
  src/modelcard_generator/formats/__init__.py
  src/modelcard_generator/formats/eu_cra.py
  src/modelcard_generator/formats/google.py
  src/modelcard_generator/formats/huggingface.py
  src/modelcard_generator/integrations/__init__.py
  src/modelcard_generator/integrations/wandb_integration.py
  src/modelcard_generator/templates/__init__.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team, @danieleschmidt, @terragonlabs/integrations-team, @terragonlabs/product-team

feat: implement comprehensive model card generator with multi-format support
  setup.py
  src/modelcard_generator/__main__.py
  src/modelcard_generator/executable.py
  src/modelcard_generator/integrations/dvc_integration.py
  src/modelcard_generator/integrations/mlflow_integration.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team, @terragonlabs/integrations-team

feat: implement core model card generation functionality
  src/modelcard_generator/__init__.py
  src/modelcard_generator/cli.py
  src/modelcard_generator/collectors/__init__.py
  src/modelcard_generator/collectors/base.py
  src/modelcard_generator/collectors/config.py
  src/modelcard_generator/collectors/evaluation.py
  src/modelcard_generator/collectors/training.py
  src/modelcard_generator/compliance/__init__.py
  src/modelcard_generator/compliance/checker.py
  src/modelcard_generator/core/__init__.py
  src/modelcard_generator/core/config.py
  src/modelcard_generator/core/generator.py
  src/modelcard_generator/core/model_card.py
  src/modelcard_generator/drift/__init__.py
  src/modelcard_generator/drift/detector.py
  src/modelcard_generator/templates/__init__.py
  src/modelcard_generator/templates/eu_cra.py
  src/modelcard_generator/templates/google.py
  src/modelcard_generator/templates/huggingface.py
  src/modelcard_generator/templates/registry.py
  src/modelcard_generator/validators/__init__.py
  src/modelcard_generator/validators/validator.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team, @terragonlabs/product-team, @terragonlabs/qa-team, @terragonlabs/security-team

feat: autonomous SDLC implementation - quantum leap achieved
  demo_quantum_leap.py
  src/modelcard_generator/__init__.py
  src/modelcard_generator/cli/main.py
  src/modelcard_generator/core/cache.py
  src/modelcard_generator/core/cache_simple.py
  src/modelcard_generator/core/config.py
  src/modelcard_generator/core/exceptions.py
  src/modelcard_generator/core/generator.py
  src/modelcard_generator/core/logging_config.py
  src/modelcard_generator/core/security.py
  src/modelcard_generator/formats/huggingface.py
  src/modelcard_generator/templates/__init__.py
  src/modelcard_generator/templates/library.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team, @danieleschmidt, @terragonlabs/product-team

chore: add empty git diff with no changes
  demo_quantum_leap.py
Owners: @terragonlabs/core-team

feat: autonomous SDLC execution complete - quantum leap achieved
  DEPLOYMENT_SUMMARY.md
  deploy_production.yml
  scripts/deploy.py
  src/modelcard_generator/executable.py
  src/modelcard_generator/integrations/wandb_integration_enhanced.py
  src/modelcard_generator/templates/domain_specific.py
Owners: @terragonlabs/core-team, @terragonlabs/devops-team, @terragonlabs/backend-team, @terragonlabs/integrations-team, @terragonlabs/product-team

feat(modelcard_generator): add model card loading and batch generation support
  demo/ENTERPRISE_MODEL_CARD.md
  demo/NLP_TEMPLATE.md
  pytest.ini
  src/modelcard_generator/cli/main.py
  src/modelcard_generator/core/cache.py
  src/modelcard_generator/core/generator.py
  src/modelcard_generator/core/models.py
Owners: @terragonlabs/core-team, @danieleschmidt, @terragonlabs/backend-team

feat: Complete autonomous SDLC implementation with advanced features
  k8s/deployment.yaml
  requirements-dev.txt
  requirements.txt
  src/modelcard_generator/core/async_executor.py
  src/modelcard_generator/core/circuit_breaker.py
  src/modelcard_generator/core/config.py
  src/modelcard_generator/core/distributed_cache.py
  src/modelcard_generator/core/drift_detector.py
  src/modelcard_generator/core/enhanced_generator.py
  src/modelcard_generator/core/generator.py
  src/modelcard_generator/core/models.py
  src/modelcard_generator/core/performance_monitor.py
  src/modelcard_generator/core/rate_limiter.py
  src/modelcard_generator/core/resource_optimizer.py
  src/modelcard_generator/core/retry.py
  src/modelcard_generator/executable.py
  src/modelcard_generator/formats/huggingface.py
  src/modelcard_generator/integrations/dvc_integration.py
  test_runner.py
  tests/integration/test_full_pipeline.py
  tests/unit/test_enhanced_generator.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team, @terragonlabs/integrations-team, @terragonlabs/qa-team

feat(research): add advanced research and AI modules for model card generation
  src/modelcard_generator/research/__init__.py
  src/modelcard_generator/research/ai_content_generator.py
  src/modelcard_generator/research/algorithm_optimizer.py
  src/modelcard_generator/research/insight_engine.py
  src/modelcard_generator/research/research_analyzer.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team

feat(deployment): add production deployment guide, configs, and quality checks
  DEPLOYMENT_GUIDE.md
  production_deployment.yaml
  quality_gates_runner.py
  research_runner.py
  simple_quality_check.py
  src/modelcard_generator/research/__init__.py
  src/modelcard_generator/research/advanced_optimizer.py
  tests/test_advanced_features.py
  tests/test_basic_functionality.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team, @terragonlabs/qa-team

feat(autonomous_sdlc_executor): add autonomous SDLC executor and supporting core modules
  autonomous_sdlc_executor.py
  src/modelcard_generator/core/adaptive_resilience.py
  src/modelcard_generator/core/advanced_monitoring.py
  src/modelcard_generator/core/global_deployment.py
  src/modelcard_generator/core/performance_optimizer.py
  src/modelcard_generator/deployment/__init__.py
  src/modelcard_generator/deployment/production_orchestrator.py
  src/modelcard_generator/research/autonomous_executor.py
  src/modelcard_generator/research/insight_engine.py
  src/modelcard_generator/testing/__init__.py
  src/modelcard_generator/testing/autonomous_quality_gates.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team

feat(core,intelligent_resource_manager,monitoring,research,security): add advanced resource management, monitoring, AI content, quantum optimization, and enterprise security
  src/modelcard_generator/core/intelligent_resource_manager.py
  src/modelcard_generator/monitoring/__init__.py
  src/modelcard_generator/monitoring/advanced_monitoring.py
  src/modelcard_generator/monitoring/health.py
  src/modelcard_generator/research/ai_content_engine.py
  src/modelcard_generator/research/quantum_optimizer.py
  src/modelcard_generator/security/__init__.py
  src/modelcard_generator/security/enterprise_security.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team, @terragonlabs/devops-team, @terragonlabs/security-team

docs: enhance project foundation with security architecture ADR
  docs/adr/002-security-architecture.md
Owners: @terragonlabs/core-team, @terragonlabs/docs-team

test: enhance testing infrastructure with advanced testing strategies
  .mutmut
  tests/config/performance.yaml
  tests/contract/test_api_contracts.py
  tests/property/test_model_card_properties.py
Owners: @terragonlabs/core-team, @terragonlabs/qa-team

build: enhance containerization with security and SBOM generation
  .dockerignore
  scripts/build-automation.sh
  scripts/generate-sbom.py
Owners: @terragonlabs/devops-team, @terragonlabs/core-team

ops: enhance monitoring and observability with operational runbooks
  docs/runbooks/README.md
  docs/runbooks/incident-high-error-rate.md
  scripts/health-check-advanced.py
Owners: @terragonlabs/core-team, @terragonlabs/docs-team, @terragonlabs/devops-team

feat: complete comprehensive SDLC implementation with checkpoint strategy
  SDLC_IMPLEMENTATION_COMPLETE.md
Owners: @terragonlabs/core-team

feat(autonomous-sdlc): add complete autonomous SDLC execution with validations
  AUTONOMOUS_SDLC_COMPLETE.md
  production_deployment_validation.py
  quality_gates_validation.py
  src/modelcard_generator/core/advanced_monitoring.py
  test_enhanced_features.py
  test_scaling_features.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team

feat(autonomous_sdlc): add complete autonomous SDLC with advanced modules
  TERRAGON_SDLC_AUTONOMOUS_COMPLETE.md
  src/modelcard_generator/core/adaptive_resilience.py
  src/modelcard_generator/core/enhanced_validation.py
  src/modelcard_generator/core/quantum_performance_optimizer.py
  src/modelcard_generator/research/autonomous_research_engine.py
  src/modelcard_generator/testing/autonomous_quality_gates.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team

feat(autonomous-sdlc): add complete autonomous SDLC with production-ready features
  .github/workflows/release.yml
  Dockerfile
  README.md
  RELEASE_SUMMARY.md
  create_test_samples.py
  deployment/global/ap-northeast-1/deployment.yaml
  deployment/global/ap-southeast-1/deployment.yaml
  deployment/global/eu-west-1/deployment.yaml
  deployment/global/us-east-1/deployment.yaml
  deployment/kubernetes/configmap.yaml
  deployment/kubernetes/deployment.yaml
  deployment/kubernetes/hpa.yaml
  deployment/kubernetes/namespace.yaml
  deployment/kubernetes/service.yaml
  docker-compose.prod.yml
  docs/API_REFERENCE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/USER_GUIDE.md
  examples/advanced_example.py
  examples/basic_example.py
  examples/batch_example.py
  generate_documentation.py
  implement_global_features.py
  monitoring/prometheus.yml
  prepare_production_release.py
  run_quality_gates.py
  security/SECURITY.md
  security/network-policy.yaml
  src/modelcard_generator/i18n/__init__.py
  test_data/CLI_TEST_CARD.md
  test_data/ENHANCED_MODEL_CARD.md
  test_data/model_card.jsonld
  test_generation_3.py
Owners: @terragonlabs/devops-team, @terragonlabs/core-team, @terragonlabs/docs-team, @terragonlabs/security-team, @terragonlabs/backend-team

remove problematic github workflow file
  .github/workflows/release.yml
Owners: @terragonlabs/devops-team, @terragonlabs/core-team

docs(examples): add basic model card example for sentiment-classifier
  examples/BASIC_MODEL_CARD.md
Owners: @terragonlabs/core-team

feat(sdlc): add final quality validation and production readiness summary
  final_quality_validation.py
  production_ready_summary.py
  simple_generation3_test.py
  src/modelcard_generator/core/enhanced_validation.py
  test_generation_3.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team

feat(research): add breakthrough AI-powered research modules and documentation
  ACADEMIC_PUBLICATION_PACKAGE.md
  NOVEL_ALGORITHMIC_CONTRIBUTIONS.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  RESEARCH_PAPER_DRAFT.md
  production_deployment_test.py
  production_validation_summary.py
  src/modelcard_generator/research/__init__.py
  src/modelcard_generator/research/breakthrough_benchmarks.py
  src/modelcard_generator/research/breakthrough_optimizer.py
  src/modelcard_generator/research/neural_acceleration_engine.py
  test_breakthrough_generation4.py
Owners: @terragonlabs/core-team, @terragonlabs/backend-team
